
@{
	ViewBag.Title = "DangerMessage";
}

<h2>DangerMessage</h2>

<center>
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Error: </strong>Datos No Fueron Grabados<br />
	</div>
</center>


