
@{
	ViewBag.Title = "ErrorMessage";
}

<center>
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Error!</strong> Conexion ala base de datos.<br /><br />
		<p>Por Favor Pongase en contacto con el Administrador del sistema</p><br /><strong>Gracias!!!</strong>
	</div>
</center>