<div class="container">
	@{
		ViewBag.Title = "ViewCharacter";
	}

	<h2>View Characters </h2>

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Panel heading</div>
		<!-- Table -->
		<table class="table table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Altura</th>
					<th>Tipo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Goku</td>
					<td>1.40</td>
					<td>Anime</td>
				</tr>
				<tr>
					<td>2</td>
					<td>El Chavo</td>
					<td>1.60</td>
					<td>Comedia</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Dooley</td>
					<td>Drama</td>
				</tr>
			</tbody>
		</table>
	</div>

	<a href="" class="btn btn-success">Atras</a>
</div>

